mixin sSingUp(data)
	// start sSingUp
	+b.sSingUp.section#sSingUp&attributes(attributes).bg-wrap
		+img('img/sSingUp-bg.jpg', 'bg').picture-bg
		img(src='img/sSingUp-img-1.png' alt='').img-man
		img(src='img/sSingUp-img-2.png' alt='').img-bush
		img(src='img/sSingUp-img-4.png' alt='').img-bush-3
		img(src='img/sSingUp-img-3.png' alt='').img-bush-2
		.container
			+e.row.row
				+e.col-content.col-lg-7
					+e.title #[strong Запишитесь на срочный выезд мастера] для ремонта септика или станции очистки
					ul
						li Выезд в день обращения
						li Диагностика неисправностей бесплатно
						li Сертифицированный специалист
					+e.text--indent Предварительную причину поломки инженер определит по&nbsp;телефону и&nbsp;возьмет с&nbsp;собой необходимые запчасти и&nbsp;инструменты.
					+e.btn.main-btn.link-modal-js(href="#"
						data-src="leave-the-phone"
						data-title='Оставьте <strong>телефон</strong>'
						data-text="и&nbsp;мы&nbsp;быстро подберем для вас мастера на&nbsp;аварийный выезд"
						data-btn="Срочно вызвать мастера"
						data-img="img/modal-img-2.png"
					) срочно вызвать мастера
					+e.subtitle Необходимо провести<br>плановые работы?
					+e.text Например откачать&nbsp;ил, почистить фильтры, аэролифты или сделать консервацию/расконсервацию канализации. Вы&nbsp;можете проверить в&nbsp;работе наших сервисных инженеров, заказав разовое обслуживание.
				+e.col-btn.col-lg-5
					+e.btn-order.main-btn.link-modal-js(href="#"
						data-src="leave-the-phone"
						data-title='<strong> Оставьте телефон</strong> и наш менеджер рассчитает <strong> стоимость разового обслуживания</strong>'
						data-text=" "
						data-btn="Заказать разовое обслуживание"
						data-img="img/modal-img-3.png"
					) Заказать разовое обслуживание
	// end sSingUp