mixin sVideos(data)
	// start sVideos
	+b.SECTION.sVideos.section#sVideos&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 О качестве обслуживания #[strong лучше всего расскажут наши клиенты]
			+e.swiper--js.swiper(data-mobile="false")
				+e.row.row.swiper-wrapper
					mixin videoSlide(i)
						+e.col.col-md-6.swiper-slide
							+e.slide(href="https://www.youtube.com/watch?v=L_LUpnjgPso&t=7s" data-fancybox=`sCard-gallery-${i}`)
								+e.video-wrap
									+img(`img/repair-item-${i}.png`, 'bg')
								+e.icon-wrap
									+icon('play-fill')
					+videoSlide(1)
					+videoSlide(2)
					+videoSlide(3)
					+videoSlide(4)
				+b.arrow-wrap
					+arrow()
	// end sVideos

mixin sVideos2(data)
	+b.SECTION.sVideos.section&attributes(attributes)
		.container
			+b.section-title.text-center
				+img('img/sVideos-icon.png')
				h2 #[strong Посмотрите отзывы]<br>о компании ЭкоЛайф
			+e.video-row.row
				.col-lg-3.col-sm-6
					+e.slide--2(href="https://www.youtube.com/watch?v=eqzWEqDLn1E&feature=youtu.be" data-fancybox=`sCard-gallery-1`)
						+e.video-wrap
							+img(`https://img.youtube.com/vi/eqzWEqDLn1E/mqdefault.jpg`, 'bg')
						+e.icon-wrap
							+icon('play-fill')
					+e.desc Отзыв о компании ЭкоЛайф. Колодец, канализация, водоснабжение, дренаж
					+e.num 272 просмотра
				.col-lg-3.col-sm-6
					+e.slide--2(href="https://www.youtube.com/watch?v=dAtp21e4CtI&feature=youtu.be" data-fancybox=`sCard-gallery-2`)
						+e.video-wrap
							+img(`https://img.youtube.com/vi/dAtp21e4CtI/mqdefault.jpg`, 'bg')
						+e.icon-wrap
							+icon('play-fill')
					+e.desc Отзыв о компании ЭкоЛайф. Колодец и канализация Астра 5
					+e.num 119 просмотров
				.col-lg-3.col-sm-6
					+e.slide--2(href="https://www.youtube.com/watch?v=Lmf7zajhEps&feature=youtu.be" data-fancybox=`sCard-gallery-3`)
						+e.video-wrap
							+img(`https://img.youtube.com/vi/Lmf7zajhEps/mqdefault.jpg`, 'bg')
						+e.icon-wrap
							+icon('play-fill')
					+e.desc Отзыв о компании ЭкоЛайф. Колодец, автономная канализация, водоснабжение
					+e.num 197 просмотров
				.col-lg-3.col-sm-6
					+e.slide--2(href="https://www.youtube.com/watch?v=7AYknmYoK0s&feature=youtu.be" data-fancybox=`sCard-gallery-4`)
						+e.video-wrap
							+img(`https://img.youtube.com/vi/7AYknmYoK0s/mqdefault.jpg`, 'bg')
						+e.icon-wrap
							+icon('play-fill')
					+e.desc Отзыв о компании ЭкоЛайф. Водоснабжение, отопление, электромонтажные и дренажные работы, канализации
					+e.num 149 просмотров

mixin video-item(link, vidNum, preview, i, desc, num, ...items)
	+e.col-wrap.col-lg-3.col-sm-6
		+e.slide(href=`${link}` data-fancybox=`video-${vidNum}-${i}`)
			+e.video-wrap
				+img(`img/vid-prev-${preview}.jpg`, 'bg')
			+e.icon-wrap
				+icon('play-fill')
		+e.desc!= desc
		+e.num!= num
		+e.hashtag-wrap
			each item in items 
				+e.hashtag-item(href="#")!= item
mixin sVideos3(data)
	+b.SECTION.sVideos--3.section&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[strong Посмотрите, как функционирует система канализации] в загородном доме спустя 5 лет и более после установки
			.tabs
				.tabs__caption
					.tabs__btn.active #водоснабжение
					.tabs__btn #канализация
					.tabs__btn #погреба
					.tabs__btn #дренаж
					.tabs__btn #колодцы
				.tabs__content.active
					+e.video-row.row
						+video-item('https://youtu.be/Lmf7zajhEps', '1', '1', '1', 'Установка колодца, канализации, водоснабжения', 'Снт. Невское', '#Ecolife', '#Септик', '#АвтономнаяКанализация', '#Отзыв')
						+video-item('https://youtu.be/QyKHFHRiBbc', '2', '2', '1', 'Монтаж узла водоснабжения с помощью насоса Dab Divertron 1200', 'П. Белоостров', '#Ecolife', '#Водоснабжение', '#НасосDab')
						+video-item('https://youtu.be/qFksTaz6nlQ', '3', '3', '1', 'Установка станции Топас 5', 'п. Новинка', '#Ecolife', '#Септик', '#Топас', '#Отзыв')
						+video-item('https://youtu.be/V637AVGfOGw', '4', '4', '1', 'Установка водоснабжения на даче', 'пос. Ексолово', '#Ecolife', '#Водоснабжение')
				-for(i=2; i<=5; i++)
					.tabs__content
						+e.video-row.row
							+video-item('https://youtu.be/Lmf7zajhEps', '1', '1', i, 'Установка колодца, канализации, водоснабжения', 'Снт. Невское', '#Ecolife', '#Септик', '#АвтономнаяКанализация', '#Отзыв')
							+video-item('https://youtu.be/qFksTaz6nlQ', '3', '3', i, 'Установка станции Топас 5', 'п. Новинка', '#Ecolife', '#Септик', '#Топас', '#Отзыв')
							+video-item('https://youtu.be/V637AVGfOGw', '4', '4', i, 'Установка водоснабжения на даче', 'пос. Ексолово', '#Ecolife', '#Водоснабжение')
							+video-item('https://youtu.be/QyKHFHRiBbc', '2', '2', i, 'Монтаж узла водоснабжения с помощью насоса Dab Divertron 1200', 'П. Белоостров', '#Ecolife', '#Водоснабжение', '#НасосDab')