mixin headerBlock(location,img)
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			+topLine()
			+e.text
				h1 Поможем избежать&nbsp;98% проблем #{location} #[strong и&nbsp;сэкономить до&nbsp;40&nbsp;000&nbsp;р.&nbsp;в&nbsp;год] благодаря сервисному обслуживанию
				+e.descr 
					+img('img/header-descr-img.png')
					p #[strong Мы&nbsp;подберем индивидуальные условия договора.] Защитите себя от&nbsp;поломок и&nbsp;платите только за&nbsp;то, что вам нужно
				//- +btn("подобрать условия договора", "leave-the-phone")(
				//- 	data-title='Оставьте <strong>телефон</strong>'
				//- 	data-text="и наш менеджер подберет для вас оптимальные условия сервисного договора" 
				//- 	data-btn="подобрать условия договора	" 
				//- 	data-img="img/modal-img-1.png").main-btn
				a(href="#"
					data-src="leave-the-phone"
					data-title='Оставьте <strong>телефон</strong>'
					data-text="и наш менеджер подберет для вас оптимальные условия сервисного договора" 
					data-btn="подобрать условия договора	" 
					data-img="img/modal-img-1.png"
				).main-btn.link-modal-js подобрать условия договора
			if img
				picture
					source(srcset="img/header-block-sm-img.png" media="(max-width: 576px)")
					source(srcset="img/header-block-img.png")
					img(src='img/header-block-img.png').headerBlock__main-img
	// end headerBlock 

mixin headerBlock2()
	// start headerBlock
	+b.headerBlock--2.--main.section#headerBlock&attributes(attributes)
		+e.container.container
			+topLine()
			+e.text
				h1 #[strong Срочный ремонт] септиков и&nbsp;обслуживание станций очистки. #[strong Аварийный выезд] инженера<br>в&nbsp;день обращения.
				a(href="#"
					data-src="leave-the-phone"
					data-title='<strong> Оставьте телефон</strong> и наш менеджер подберет для вас оптимальные условия <strong>сервисного договора</strong>'
					data-text=" "
					data-btn="подобрать условия договора"
					data-img="img/modal-img-1.png"
				).main-btn.link-modal-js срочно вызвать мастера
			picture
					source(srcset="img/header-block-sm-img.png" media="(max-width: 576px)")
					source(srcset="img/header-block-img.png")
					img(src='img/header-block-img.png').headerBlock__main-img
	// end headerBlock 
