mixin sContract(data)
	// start sContract
	+b.SECTION.sContract.section#sContract&attributes(attributes)
		.container
			+e.inner
				.row
					+e.left.col-lg-8
						+e.title Потому что никто не&nbsp;звонит в&nbsp;сервисные службы, #[strong когда кажется, что все в&nbsp;порядке]
						+e.text
							+img('img/header-descr-img.png')
							p Защитите себя от&nbsp;непредвиденных ситуаций заблаговременно. #[strong Заключите договор на&nbsp;сервисное обслуживание.]
						+btn('Подобрать условия договора')(
							data-src="leave-the-phone"
							data-title='<strong> Оставьте телефон</strong> и наш менеджер подберет для вас оптимальные условия <strong>сервисного договора</strong>'
							data-text=" "
							data-btn="подобрать условия договора"
							data-img="img/modal-img-1.png"
						).main-btn.link-modal-js
					+e.right.col-lg-4
						img(src='img/contract-img.png')

mixin sContract2(data)
	// start sContract
	+b.SECTION.sContract.sContract--water.section#sContract&attributes(attributes)
		.container
			+e.inner
				.row
					+e.left.col-lg-8
						+e.title Защитите себя от непредвиденных  #[strong ситуаций заблаговременно]
						+e.text
							+img('img/header-descr-img.png')
							p Заключите договор на&nbsp;сервисное обслуживание.
						+btn('Подобрать условия договора')(
							data-src="leave-the-phone"
							data-title='<strong> Оставьте телефон</strong> и наш менеджер подберет для вас оптимальные условия <strong>сервисного договора</strong>'
							data-text=" "
							data-btn="подобрать условия договора"
							data-img="img/modal-img-1.png"
						).main-btn.link-modal-js
					+e.right.col-lg-4
						img(src='img/contract-img.png')
	// end sContract