extends ../layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Модальные окна'
	title= title
block pagecontent
	//- +topLine()
	
	.section.container
		h1 Страница для  демонстрации модальных окон
		.row
			mixin btn(id, name)
				.col-auto.mb-2
					a.btn.btn-primary(href=`#` data-src=id data-fancybox="modal")&attributes(attributes)= name
			+btn("leave-the-phone", "leave-the-phone")(
				data-title='Оставьте <strong>телефон</strong>'
				data-text="и наш менеджер подберет для вас оптимальные условия сервисного договора" 
				data-btn="подобрать условия договора	" 
				data-img="img/modal-img-1.png")
			+btn("leave-the-phone", "leave-the-phone-2")(
				data-title='<strong> Оставьте телефон</strong> и наш менеджер подберет для вас оптимальные условия <strong>сервисного договора</strong>'
				data-text=" "
				data-btn="подобрать условия договора"
				data-img="img/modal-img-1.png")
			+btn("leave-the-phone", "leave-the-phone")(
				data-title='Оставьте <strong>телефон</strong>'
				data-text="и&nbsp;мы&nbsp;быстро подберем для вас мастера на&nbsp;аварийный выезд"
				data-btn="Срочно вызвать мастера"
				data-img="img/modal-img-2.png")
			+btn("leave-the-phone", "leave-the-phone-2")(
				data-title='<strong> Оставьте телефон</strong> и&nbsp;мы&nbsp;быстро подберем <strong> для вас мастера на&nbsp;аварийный выезд</strong>'
				data-text=" "
				data-btn="Срочно вызвать мастера"
				data-img="img/modal-img-2.png")
			+btn("leave-the-phone", "leave-the-phone")(
				data-title='Оставьте <strong>телефон</strong>'
				data-text="и&nbsp;наш менеджер рассчитает стоимость разового обслуживания"
				data-btn="Заказать разовое обслуживание"
				data-img="img/modal-img-3.png")
			+btn("leave-the-phone", "leave-the-phone-2")(
				data-title='<strong> Оставьте телефон</strong> и наш менеджер рассчитает <strong> стоимость разового обслуживания</strong>'
				data-text=" "
				data-btn="Заказать разовое обслуживание"
				data-img="img/modal-img-3.png")
			//- +btn("leave-the-phone-2", "leave-the-phone-2")
			//- +btn("leave-the-phone-3", "leave-the-phone-3")
			//- +btn("leave-the-phone-4", "leave-the-phone-4")
			//- +btn("leave-the-phone-5", "leave-the-phone-5")
			//- +btn("leave-the-phone-6", "leave-the-phone-6")
			+btn("leave-the-phone-7", "leave-the-phone-7")
			+btn("leave-the-phone-8", "leave-the-phone-8")
			+btn("done", "done")

